{{!-- Bulma Navbar --}}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <div class="navbar-item">
            <i class="fa-solid fa-paperclip"> CSCI 5117 Flashcards</i>
        </div>


        <button class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="navMenu" type="button" {{on 'click' this.toggleBurger}}>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </button>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <LinkTo @route="home" class="navbar-item home" role="button">Home (About)</LinkTo>

            <LinkTo @route="flashcards" class="navbar-item flashcards" role="button">Flashcards</LinkTo>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {{#if this.auth.user}}
                        <p>Welcome, {{this.auth.user.displayName}}</p>
                        <img src={{this.auth.user.photoURL}} alt="user photo">
                        <a class="button is-light" {{on 'click' this.auth.sign_out}}>
                            Log out
                        </a>
                    {{else}}
                        <a class="button is-light" {{on 'click' this.auth.sign_in_with_popup}}>
                            Log in
                        </a>
                    {{/if}}
                </div>
            </div>
            
        </div>
    </div>
</nav>